:root {
  --color-highlight: #e6007e;
  --color-default-bg: #ddedd3;
  --label-font-size-xl: 30px;
  --box-shadow-default: 4px 4px 10px 3px rgba(0, 0, 0, 0.1);
}

.payment-component-wrapper h2 {
  text-align: left;
}

.payment-component-wrapper .payment-input-wrapper h2 {
  text-align: left;
  margin-left: 10px;
}

.payment-component-wrapper .method-wrapper input[type="radio"] + label {
  border-radius: 0;
}

label,
.checkboxbutton-wrapper label {
  color: #000;
}

input[type="radio"] + label {
  font-size: var(--label-font-size-xl);
  font-weight: bold;
  color: #000;
}

.non-touch input[type="radio"] + label:hover,
input[type="radio"]:checked + label {
  background: var(--color-highlight);
}

.rythm_target-wrapper
  .onetime-recurring-wrapper
  .columns:first-child
  input[type="radio"]
  + label,
.rythm_target-wrapper
  .onetime-recurring-wrapper
  .columns:last-child
  input[type="radio"]
  + label,
.rythm_target-wrapper
  .recurring-wrapper
  .medium-6:nth-child(2n + 1)
  input[type="radio"]
  + label,
.rythm_target-wrapper
  .recurring-wrapper
  .medium-6:nth-child(2n)
  input[type="radio"]
  + label,
.checkboxbutton-wrapper label {
  border-radius: 0;
  box-shadow: var(--box-shadow-default);
}

.input-wrapper.info input,
.input-wrapper.info > i,
[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  border-radius: 0;
  box-shadow: var(--box-shadow-default);
}

.rythm_target-wrapper
  .onetime-recurring-wrapper
  .columns:first-child
  input[type="radio"]
  + label,
.rythm_target-wrapper
  .onetime-recurring-wrapper
  .columns:last-child
  input[type="radio"]
  + label,
.rythm_target-wrapper
  .recurring-wrapper
  .medium-6:nth-child(2n + 1)
  input[type="radio"]
  + label,
.rythm_target-wrapper
  .recurring-wrapper
  .medium-6:nth-child(2n)
  input[type="radio"]
  + label {
  font-size: var(--label-font-size-xl);
}

.amount-wrapper .slider-wrapper,
.amount-wrapper:not(.no-slider) .input-wrapper input,
.amount-wrapper .button-wrapper button,
.amount-wrapper .button-wrapper .radio,
.rythm_target-wrapper
  .donation-target-wrapper
  .columns:last-child:first-child
  input[type="radio"]
  + label {
  border-radius: 0;
  box-shadow: var(--box-shadow-default);
}

.amount-wrapper input[type="number"],
.amount-wrapper .input-wrapper .currency-symbol {
  border: none;
}

.amount-wrapper .input-wrapper .currency-symbol {
  background-color: rgba(132, 132, 132, 0.76);
  font-weight: bold;
  color: #fff;
}

.method-wrapper {
  box-shadow: var(--box-shadow-default);
}

.gift-donation.row {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: var(--box-shadow-default);
}

.gift-donation .column,
.gift-donation .columns {
  background-color: var(--color-default-bg);
}

.gift-donation .checkboxbutton-wrapper label,
.gift-donation .checkboxbutton-wrapper input:checked + label {
  background-color: var(--color-default-bg);
  color: #000;
  box-shadow: none;
}
